/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 90%;
    background-image: -webkit-linear-gradient(328deg, rgba(255, 247, 221, 0.560784) 0%, rgba(241, 211, 255, 0.607843) 100%), url('img/bgtile.png');
    background-attachment: scroll;
    background-size: auto;
    font-family: sans-serif;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}
#text1 {
    float: left;
    font-size: 1.5em;
    color: rgb(120, 120, 120);
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1em;
    min-width: 0.5em;
    word-wrap: break-word;
    margin-left: 3.0806362054711696%;
    margin-top: 80px;
    clear: none;
    font-family: lato;
    padding: 10px;
}
#text2 {
    float: left;
    font-size: 1.5em;
    color: rgb(120, 120, 120);
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1em;
    min-width: 0.5em;
    word-wrap: break-word;
    margin-left: 0.6325530891008476%;
    margin-top: 80px;
    clear: none;
    font-family: lato;
    padding: 10px;
}
#text3 {
    float: left;
    font-size: 1.5em;
    color: rgb(120, 120, 120);
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1em;
    min-width: 0.5em;
    word-wrap: break-word;
    margin-left: 0.5535826659921276%;
    margin-top: 80px;
    clear: none;
    font-family: lato;
    padding: 10px;
}
#box2 {
    float: left;
    height: 272px;
    clear: both;
    width: 28.597955216157544%;
    min-height: 50px;
    background-image: -webkit-linear-gradient(292deg, rgb(236, 254, 255) 0%, rgb(255, 199, 255) 100%);
    background-attachment: scroll;
    background-size: auto;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 0px 10px inset;
    margin-top: 24px;
    margin-left: 3.087301587301587%;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}
#box3 {
    float: left;
    height: 272px;
    margin-left: 4.0037518418610185%;
    margin-top: 24px;
    clear: none;
    width: 28.597955216157544%;
    min-height: 50px;
    background-image: -webkit-linear-gradient(292deg, rgb(236, 254, 255) 0%, rgb(255, 199, 255) 100%);
    background-attachment: scroll;
    background-size: auto;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 0px 10px inset;
    background-position: 0px 50%;
    background-repeat: repeat repeat;
}
#box4 {
    float: left;
    height: 272px;
    margin-left: 3.9706602017639447%;
    margin-top: 24px;
    clear: none;
    width: 28.597955216157544%;
    min-height: 50px;
    background-image: -webkit-linear-gradient(292deg, rgb(236, 254, 255) 0%, rgb(255, 199, 255) 100%);
    background-attachment: scroll;
    background-size: auto;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 0px 10px inset;
    background-position: 0px 50%;
    background-repeat: repeat repeat;
}
#text4 {
    float: left;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    width: 84.72569444444444%;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1.2em;
    min-width: 0.5em;
    word-wrap: break-word;
    margin-left: 7.6423611111111125%;
    margin-top: 20px;
    clear: none;
    min-height: 232px;
    font-family: lato;
}
#text5 {
    float: left;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    width: 84.72569444444444%;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1.2em;
    min-width: 0.5em;
    word-wrap: break-word;
    margin-left: 6.946242197220538%;
    margin-top: 21px;
    clear: none;
    min-height: 232px;
    font-family: lato;
}
#text6 {
    float: left;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    width: 84.72569444444444%;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1.2em;
    min-width: 0.5em;
    word-wrap: break-word;
    margin-left: 6.947916666666668%;
    margin-top: 21px;
    clear: none;
    min-height: 232px;
    font-family: lato;
}
#reflow-9232e17f-dd5d-fac2-9cc8-28cb178107cd {
}
#box1 {
    float: left;
    height: auto;
    margin-left: 3.0841028686342318%;
    margin-top: 13px;
    clear: both;
    width: 93.63618536991329%;
    box-shadow: rgb(177, 177, 177) 0px 3px 8px 2px;
    background-image: url('img/bgtile 4.png');
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}
#reflow-2e4c21f4-1972-5d83-0dd4-5f1e6dc938dd {
    min-height: 50px;
    margin-left: 34px;
}
#reflow-0d60eb1a-b872-b3ff-b812-f2187d33d488 {
    min-height: 50px;
    margin-left: 34px;
}

@media only screen and (max-width: 1119px) {

   #text4 {
        float: left;
        font-size: 1.5em;
        color: rgb(0, 0, 0);
        width: 84.72569444444444%;
        height: 220px;
        text-align: left;
        font-weight: 100;
        line-height: 1.2em;
        min-width: 0.5em;
        word-wrap: break-word;
        margin-left: 7.6423611111111125%;
        margin-top: 20px;
        clear: none;
        min-height: 0px;
        font-family: lato;
   }
   #text5 {
        float: left;
        font-size: 1.5em;
        color: rgb(0, 0, 0);
        width: 84.72569444444444%;
        height: 220px;
        text-align: left;
        font-weight: 100;
        line-height: 1.2em;
        min-width: 0.5em;
        word-wrap: break-word;
        margin-left: 6.947916666666668%;
        margin-top: 21px;
        clear: none;
        min-height: 0px;
        font-family: lato;
   }
   #text6 {
        float: left;
        font-size: 1.5em;
        color: rgb(0, 0, 0);
        width: 84.72569444444444%;
        height: 220px;
        text-align: left;
        font-weight: 100;
        line-height: 1.2em;
        min-width: 0.5em;
        word-wrap: break-word;
        margin-left: 6.947916666666668%;
        margin-top: 21px;
        clear: none;
        min-height: 0px;
        font-family: lato;
   }
   #box2 {
        margin-top: 24.333333333333314px;
        margin-left: 3.07915722841096%;
        clear: none;
        height: auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
   }
   #box3 {
        margin-top: 23.833333333333314px;
        margin-left: 4.072113445247774%;
        clear: none;
        height: auto;
        margin-bottom: 60px;
   }
   #box4 {
        margin-top: 23.833333333333314px;
        margin-left: 3.8735222018804105%;
        clear: none;
        height: auto;
        margin-bottom: 60px;
   }
   #text2 {
        margin-top: 80px;
        margin-left: 0.596766686318925%;
        clear: none;
   }
   #text1 {
        margin-top: 80px;
        margin-left: 3.377044093462004%;
        clear: none;
   }
   #reflow-9232e17f-dd5d-fac2-9cc8-28cb178107cd {
   }
   #box1 {
        float: none;
        margin-left: auto;
        margin-top: 147px;
        clear: none;
        width: 93.63618536991329%;
        display: block;
        margin-right: auto;
   }
   .primaryContainer {
        font-family: sans-serif;
   }
   #text3 {
        margin-top: 80px;
        margin-left: 0.596766686318925%;
        clear: none;
   }
   #reflow-2e4c21f4-1972-5d83-0dd4-5f1e6dc938dd {
        min-height: 50px;
        margin-left: 34px;
   }
   #reflow-0d60eb1a-b872-b3ff-b812-f2187d33d488 {
        min-height: 50px;
        margin-left: 34px;
   }
   body {
        background-image: url('img/bgtile 2.png');
        background-attachment: scroll;
        background-size: auto;
        background-position: 0% 0%;
        background-repeat: repeat repeat;
   }
   #grid .column {
        width: 7.84%;
   }
   #grid .grid-10, #grid .grid-11, #grid .grid-12, #grid .grid-13, #grid .grid-14, #grid .grid-15 {
        display: none;
        visibility: hidden;
   }
   #grid .grid-0, #grid .grid-1, #grid .grid-2, #grid .grid-3, #grid .grid-4, #grid .grid-5, #grid .grid-6, #grid .grid-7, #grid .grid-8, #grid .grid-9 {
        display: block;
        visibility: visible;
   }
   #grid .column.grid-0 {
        margin-left: 0%;
   }
   #grid .gutter.grid-1 {
        margin-left: 7.84%;
   }
   #grid .column.grid-1 {
        margin-left: 10.24%;
   }
   #grid .gutter.grid-2 {
        margin-left: 18.080000000000002%;
   }
   #grid .column.grid-2 {
        margin-left: 20.48%;
   }
   #grid .gutter.grid-3 {
        margin-left: 28.32%;
   }
   #grid .column.grid-3 {
        margin-left: 30.72%;
   }
   #grid .gutter.grid-4 {
        margin-left: 38.56%;
   }
   #grid .column.grid-4 {
        margin-left: 40.96%;
   }
   #grid .gutter.grid-5 {
        margin-left: 48.800000000000004%;
   }
   #grid .column.grid-5 {
        margin-left: 51.2%;
   }
   #grid .gutter.grid-6 {
        margin-left: 59.040000000000006%;
   }
   #grid .column.grid-6 {
        margin-left: 61.440000000000005%;
   }
   #grid .gutter.grid-7 {
        margin-left: 69.28%;
   }
   #grid .column.grid-7 {
        margin-left: 71.68%;
   }
   #grid .gutter.grid-8 {
        margin-left: 79.52%;
   }
   #grid .column.grid-8 {
        margin-left: 81.92%;
   }
   #grid .gutter.grid-9 {
        margin-left: 89.76%;
   }
   #grid .column.grid-9 {
        margin-left: 92.16000000000001%;
   }
}
@media only screen and (max-width: 890px) {

   #text6 {
        font-size: 1.2em;
        height: auto;
        margin-top: 21px;
        margin-left: 8.402392949328728%;
        clear: none;
        min-height: 172px;
   }
   #text5 {
        font-size: 1.2em;
        height: auto;
        margin-top: 21px;
        margin-left: 8.000625449280225%;
        clear: none;
        min-height: 176px;
   }
   #text4 {
        font-size: 1.2em;
        height: auto;
        margin-top: 20px;
        margin-left: 7.630377433974604%;
        clear: none;
        min-height: 177px;
   }
   #box4 {
        height: 222px;
        margin-top: 34px;
        margin-left: 4.238139825218477%;
        clear: none;
   }
   #box3 {
        height: 221px;
        margin-top: 34px;
        margin-left: 3.9884519350811485%;
        clear: none;
   }
   #box2 {
        height: 220px;
        margin-top: 34px;
   }
   #box1 {
   }
}
@media only screen and (max-width: 786px) {

   #text6 {
        font-size: 1.1em;
   }
   #text5 {
        font-size: 1.1em;
   }
   #text4 {
        font-size: 1.1em;
   }
}
@media only screen and (max-width: 645px) {

   #box3 {
        margin-top: 21px;
        margin-left: 2.7579672695951767%;
        clear: both;
        width: 94%;
        height: 124px;
        margin-bottom: 0px;
   }
   #box4 {
        margin-top: 23px;
        margin-left: 2.930232558139535%;
        clear: both;
        width: 94%;
        height: 124px;
        margin-bottom: 0px;
   }
   #box2 {
        width: 94.004226936731%;
        height: 124px;
        margin-top: 24px;
        margin-left: 3.1024978466838933%;
        clear: both;
        margin-bottom: 0px;
   }
   #text5 {
        height: auto;
        margin-top: 41px;
        margin-left: 5.307513760859474%;
        clear: none;
        width: 89.78015535911301%;
        min-height: 0px;
        font-size: 1em;
        text-align: center;
   }
   #text6 {
        height: auto;
        margin-top: 40px;
        margin-left: 5.308975294648207%;
        clear: none;
        width: 89.9846613051259%;
        min-height: 0px;
        font-size: 1em;
        text-align: center;
   }
   #text4 {
        height: auto;
        margin-top: 42px;
        margin-left: 7.070892770841321%;
        clear: none;
        min-height: 0px;
        font-size: 1em;
        text-align: center;
   }
   #text1 {
        margin-top: 49px;
        margin-left: auto;
        clear: none;
        float: none;
        text-align: center;
        margin-right: auto;
   }
   #text2 {
        margin-top: 16px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        text-align: center;
   }
   #text3 {
        margin-top: 13px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        text-align: center;
   }
   #box1 {
        margin-top: 20px;
   }
}