body{
	background: rgba(0,0,0,0.3);
	font-family: verdana;
}
#bloque{
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);

	position:relative;
	margin:100px auto;
	width:300px;
	border: 2px solid white;
	border-radius:25px;
	box-shadow:0px 10px 15px rgba(0,0,0,0.5);
}
h1{
	color: white;
	text-align:center;
	font-weight:bold;
	text-shadow:0px 0px 5px rgba(0,0,0,0.4);
	margin:0px;
	padding: 0px;
	height:40px;

}
p{
	position:relative;
	text-align:justify;
	font-size:12px;
	text-shadow:3px 3px 3px rgba(0,0,0,0.4);
}
img{
	position:relative;
	width:300px;
	height:150px;
}
article{

	height:40px;
	overflow: hidden;
	transition: height 2s;
	-moz-transition: height 2s;
	-webkit-transition: height 2s;
	-o-transition: height 2s;
}
article:focus{
	height:400px;
}
video{
	width:300px;
	height:200px;
}

article:focus p{
	padding-left: 40px;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
article:focus img{
	margin-top: 80px;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
article:focus .video{
	margin-top: 30px;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
article:focus .audio{
	margin-top: 140px;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

